// Place all the styles related to the wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hero-body {
  margin: 0 auto;
 
}

.hero {
  background: rgb(247, 247, 247);
}

.login {
  box-shadow: 2px 2px 2px 6px rgba(0,0,0,0.22)
}


